doctype html
html
  head
    title= "Rules Tool"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='shortcut icon', href='https://farmersmarketlegaltoolkit.org/wp-content/uploads/2018/01/risks-tool-rules-icon.png')
    script.
      function validateForm() {
          var accessToken = window.document.forms["myForm"]["AccessToken"].value;
          console.log(accessToken);
          var domain = window.document.forms["myForm"]["Domain"].value;
          if (accessToken == "") {
              alert("Access Token is a required field. It must be filled out");
              return false;
          }
          if (domain == "") {
              alert("Domain is a required field. It must be filled out");
              return false;
          }
      }

  body
    nav.w3-bar.w3-border.w3-green( role="navigation" )
      b
        .w3-bar-item.w3-text-white Rules Tool
          a(href='/')
            img.rulesIcon(src="/risks-tool-rules-icon.png")
      a(href="/").w3-bar-item.w3-button Dashboard
      if locals.user
        a(href="/user" ).w3-bar-item.w3-button Profile
        a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
      else
        a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Log In
    block content
